@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(112, 101, 101, 0.589);

    text-align: justify;
}
div#container {
    display: grid;
    grid-template-rows: 100px 50px 464px 50px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px; 
}
header.topo {
    grid-area: 1 / 1/ 2 / 4;

    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: rgba(13, 12, 22, 0.664);
}
nav.menu {
    grid-area: 2 / 1 / 3 / 4;
    background-color: rgba(13, 12, 22, 0.450);
    padding-top: 20px;
}
nav.menu > a {
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
    color: black;
    font-weight: bolder;
}
a:hover {
    background-color: white;
    padding: 5px;
    cursor: pointer;
}
section.principal {
    grid-area: 3 / 1 / 4 / 3; 

    background-color: rgba(13, 12, 22, 0.300);
    padding: 10px 13px 10px 10px;
}
section.principal > h2, p {
    padding: 5x 0px 5px 0px;
}
section.secundario {
    grid-area: 3 / 3 / 4 / 4;

    background-color: rgba(13, 12, 22, 0.300);
    padding: 10px 13px 10px 10px;
 
}
section.secundario > h2, p {
    padding: 5px 0px 5px 0px;
}
p {
    text-indent: 20px;
    line-height: 17px;
}
footer.rodape {
    grid-area: 4 / 1 / 5 / 4;

    background-color: rgba(13, 12, 22, 0.664);
    text-align: center;
    font-size: .8em;
    padding-top: 10px;
}
footer.rodape > p > a{
    text-decoration: none;
}
